<div class="import-data">
  <div class="import-success">
    <img src="../../assets/done-successful.jpg" alt="" />
    <h3>Data imported Successfully</h3>
  </div>
  <div>
    <h3 style="color: blue">Import Data Summary</h3>
  </div>
  <div class="box-data">
    <h3 style="color: blue">Students Detail</h3>
    <div class="estimation-content">
      <span>Students Details :</span>
      <span>Success:</span>
    </div>
    <div class="estimation-content">
      <span>Total Number No.</span>
      <span>Failure:</span>
    </div>
  </div>
  <div>
    <button>Print the data</button>
  </div>
</div>
