<div class="import-data">
  <div class="home-box" routerLink="">
    <span>
      <img src="../../assets/home1.png" alt="" class="home-image" />
    </span>
    <span> CSV Uploader </span>
  </div>
  <div class="import-success">
    <img src="../../assets/done-successful.jpg" alt="" />
    <h3>Data imported Successfully</h3>
  </div>
  <div>
    <h3 style="color: blue">Import Data Summary</h3>
  </div>
  <div class="box-data">
    <h3 style="color: blue">Students Detail</h3>
    <div class="estimation-content-total">
      <span>Students Details :</span>
      <span style="color: blue">Success: {{ success }}</span>
    </div>
    <div class="estimation-content">
      <span>Total Number No: {{ totalRecord }}</span>
      <span style="color: red">Failure: {{ error }}</span>
    </div>
  </div>
</div>
