.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-input {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.home-image {
  height: 40px;
  width: 40px;
}

.home-box {
  display: flex;
  align-items: center;
  gap: 9px;
  width: 100%;
  cursor: pointer;
}
