.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 49px 167px 49px 166px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  /* width: 300px; */
  margin: 0 auto;
}

.upload-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}

.home-image {
  height: 40px;
  width: 40px;
}

.home-box {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 9px;
  width: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .upload-container {
    padding: 100px;
  }
}
